html, body {
  margin: 0px;
  height: 100%;
}

#sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
}

#content {
	grid-area: content;
    background-color: #fff;
}

.header {
  grid-area: header;
  font-family: Helvetica, sans-serif;
  background-color: #444;
}

.footer{
  grid-area: footer;
}

.sideBarItem{
	max-height: 50px;
	max-width: 50px;
	border: 2px solid #444;
}

.sideBarItem img{
	width: 100%;
}

.colourPalette{
	grid-area: colourP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
}

.options{
	grid-area: options;
	padding: 15px;
}

.colourSwatches{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
}


	.wrapper {
		display: grid;
		height: 100%;
		grid-template-columns: 70px 230px  minmax(500px, 1fr);
		grid-template-rows: 35px minmax(500px, 1fr) 160px;
		grid-template-areas:
               "header header header"
				"sidebar content content"
                "colourP colourP options";
		background-color: #fff;
		color: #444;
	}
.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

.header {
  background-color: #444;
}

.header h1{
	font-size: 22px;
    text-align: center;
    line-height: 35px;
    margin: 0;
}

.top-button{
	float: left;
	margin: 3px 6px 0px 0;
	background: #1f8354;
	border: 1px solid #313131;
	border-radius: 3px;
	color: #FFFFFF;
	padding: 5px 10px;
}

.options > div{
	margin-right: 20px;
	display: inline-block;
	font-size: 16px;
	line-height: 1.5em;
}